<!--
  Generated template for the MapSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>map-search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div  id="map">
        <ion-fab top right (click)="showModal()">
          <button ion-fab  mini>
            <ion-icon name="md-search" ></ion-icon>
          </button>
        </ion-fab>
      </div>

</ion-content>
