<!--
  Generated template for the MapFavPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons left>
          <button ion-button icon-only (click)="onClickCancel()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
  <ion-title>{{'mapFavTitle' |translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >
  <div  id="map">
  </div>
</ion-content>


