<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'home' |translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  
  <button class="maps" (click)="openPage('MapPage')">
    <ion-icon name="md-map" ></ion-icon>
    {{ 'map' |translate}}
  </button>

  <button class="favs" (click)="openPage('FavsPage')">
      <ion-icon name="md-star" ></ion-icon>
    {{ 'fab' |translate}}
  </button>


  <button class="over" (click)="openPage('MapAroundPage')">
      <ion-icon name="md-locate" ></ion-icon>
    {{ 'around' |translate}}
  </button>

  <button class="search" (click)="openPage('MapSearchPage')">
    <ion-icon name="md-search" ></ion-icon>
    {{ 'search' |translate}}
  </button>
</ion-content>
