page-home {

    /*
button.buttonP {
    width: 50%;
    background-color: #249fd8;
    float: left;
    height: 50%;
    border-color: dodgerblue;
    border-style: solid;
    border-width: 1px;
    margin: auto;

}*/

.maps{

    width: 50%;
    background-color: #249fd8;
    float: left;
    height: 50%;
    /*border-color: dodgerblue;
    border-style: solid;
    border-width: 1px;*/
    margin: auto;

}


.favs{
    
    width: 50%;
    background-color: #19e746;
    float: left;
    height: 50%;
    /*border-color: dodgerblue;
    border-style: solid;
    border-width: 1px;*/
    margin: auto;
    
    }


.search{
    width: 50%;
    background-color: #e75a22;
    float: left;
    height: 50%;
    /*border-color: dodgerblue;
    border-style: solid;
    border-width: 1px;*/
    margin: auto;
        
    }
    
    
.over{
        
    width: 50%;
    background-color: #e7eb20;
    float: left;
    height: 50%;
   /* border-color: dodgerblue;
    border-style: solid;
    border-width: 1px;*/
    margin: auto;
    }   
    
    
}
