<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'setting' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group radio-group (ionChange)="applyLanguage()" [(ngModel)]="selectedLanguage">
    <ion-item-divider color="light">Languages</ion-item-divider>
    <ion-item *ngFor="let lang of languages">
      <ion-label>{{lang.name}}</ion-label>
      <ion-radio [value]="lang.code"></ion-radio>
    </ion-item>
  </ion-item-group>

  <button ion-button full (click)="openPage('MapDefaultPage')">{{'defaultLocation' |translate}}</button>

</ion-content>
