<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      

      <button ion-item menuClose (click)="openPage('MapPage')">
        {{ 'map' |translate}}
      </button>

      <button ion-item menuClose (click)="openPage('FavsPage')">
        {{ "fab" |translate}}
      </button>
    
    
      <button ion-item menuClose (click)="openPage('SettingsPage')">
        {{ "setting" |translate}}
      </button>
    
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>