<!--
  Generated template for the ListFavPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons left>
          <button ion-button icon-only (click)="onClickCancel()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>{{'listFavTitle' |translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf = "allParkNumber!=0">
  <ul *ngFor="let park of allParkFav">
    <ol (click) ="openDataPark(park.id)">
      {{park.name}}

    </ol>  
     
    <ol>  
        <button (click)="deletePark(park.id)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ol>

  </ul>

</div>

<div *ngIf = "allParkNumber ==0">

  <p>There are not parks still</p>
</div>

</ion-content>
