
<ion-header>
  
    <ion-navbar>
      <ion-title>map</ion-title>  
    </ion-navbar>
  
  </ion-header>

<ion-content >
  <div  id="map">
    <ion-fab top right (click)="searchParks()">
      <button ion-fab  mini>
        <ion-icon name="md-search" ></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>

