<!--
  Generated template for the MapDefaultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>map</ion-title>  
    </ion-navbar>
  
  </ion-header>


<ion-content >
  <div  id="map">
  </div>
</ion-content>
