<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'search' |translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p>{{'name' |translate}}</p>
    <input class="input-busqueda " type="text" style="width:100px" [(ngModel)] ="nombre" >

    <ion-list>
        <ion-list-header>
          {{'options' |translate}}
        </ion-list-header>
    
        <ion-item>
          <ion-label>{{'water' |translate}}</ion-label>
          <ion-checkbox [(ngModel)] ="water"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>{{'wifi' |translate}}</ion-label>
          <ion-checkbox [(ngModel)] ="wifi"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>{{'cafe' |translate}}</ion-label>
          <ion-checkbox [(ngModel)] ="cafe"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>{{'restaurant' |translate}}</ion-label>
          <ion-checkbox [(ngModel)] ="restaurant"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>{{'pet' |translate}}</ion-label>
          <ion-checkbox [(ngModel)] ="pets"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>{{'surveillance' |translate}}</ion-label>
          <ion-checkbox [(ngModel)] ="surveillance"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>{{'toilet' |translate}}</ion-label>
          <ion-checkbox [(ngModel)] ="toilets"></ion-checkbox>
        </ion-item>

    </ion-list>  
    
    <button ion-button color="secondary" (click) ="searchParks()" block>
      {{'search' |translate}}
    </button>

</ion-content>
