<!--
  Generated template for the DataParkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-fab top right (click)="anadirFavoritos()">
        <button ion-fab  mini>
          <ion-icon name="md-star" ></ion-icon>
        </button>
    </ion-fab>

    <ul *ngFor="let datos of parkData">


    <h6 class="heading">{{datos.name}}</h6>  

    <rating [(ngModel)]="rate"
      readOnly="true" 
      max="5" 
      emptyStarIconName="star-outline"
      halfStarIconName="star-half"
      starIconName="star" 
      nullable="false"> 
    </rating>

      <p>{{datos.description}}</p>

      <ion-slides class="image-slider" loop="true" slidesPerView="2">
        <ion-slide *ngFor="let image of datos.images">
          <img src= {{image.url}} class="thumb-img" imageViewer/>
        </ion-slide>
      </ion-slides>

      <h6>{{'information' |translate}}</h6>


      <ul>
        <li>
          {{'type' |translate}} : {{datos.type.name}}
        </li>
          
        <li>
          {{'environment' |translate}} : {{datos.environment.name}}
        </li>

        <li>
          {{'ownership' |translate}} : {{datos.ownership.name}}
        </li>

        <li *ngIf = "datos.capacity != null">
          {{'capacity' |translate}} : {{datos.capacity}}
        </li>

        <li *ngIf = "datos.maximum_age != null">
          {{'max_age' |translate}} : {{datos.maximum_age}}
        </li>

        <li *ngIf = "datos.minimum_age != null">
          {{'min_age' |translate}} : {{datos.minimum_age}}
        </li>

        <li *ngIf = "datos.adult_rates != null">
          {{'adult_rates' |translate}} : {{datos.adult_rates}} €
        </li>

        <li *ngIf = "datos.child_rates != null">
          {{'child_rates' |translate}} : {{datos.child_rates}} €
        </li>

        <ul class="characteristic">
          
          <li class="characteristic" *ngIf ="datos.cafe == 1" > 
            <img src= "assets/imgs/cafe.png"/>
          </li>
          
          <li class="characteristic" *ngIf ="datos.restaurant == 1">
            <img src= "assets/imgs/restaurant.png" />
          </li>
          
          <li class="characteristic" *ngIf ="datos.wifi == 1">
            <img src= "assets/imgs/wifi.png" />
          </li>
          
          <li class="characteristic" *ngIf ="datos.potable_water == 1">
            <img src= "assets/imgs/water.png" />
          </li>
          
          <li class="characteristic" *ngIf ="datos.surveillance == 1">
            <img src= "assets/imgs/surveillance.png" />
          </li>
          
          <li class="characteristic" *ngIf = "datos.pets_allowed == 1">
            <img src= "assets/imgs/pets.png" />
          </li>
          
          <li class="characteristic" *ngIf = "datos.toilets == 1">
            <img src= "assets/imgs/wc.png" />
          </li>
          
        </ul>
      
      </ul>  

      <br>

        <h6 class ="infoTog">COMENTARIOS  ({{numComments}})</h6>

        <div *ngIf = "seeComments ==true">

        <button class="buttonComments infoTog" (click)="showComments()">
            <ion-icon name="ios-arrow-back"></ion-icon>
        </button>

        <hr>

        <ul class ="characteristic" >

          <li *ngFor="let comment of comments">
            
            <p class = "infoTog">{{comment.author.name}}</p>
            <p class = "infoTog">{{comment.creation}}</p>   
            <br/>
            <p class = "comment">{{comment.description}}</p>
            <p>{{comment.evaluation}}</p>

            <hr>
          </li>

          

        </ul>

      </div>

      <div *ngIf = "seeComments ==false">

          <button class="buttonComments infoTog" (click)="showComments()">
            <ion-icon name="ios-arrow-down"></ion-icon>   
          </button>

      </div>
        

      </ul>
    


</ion-content>
