page-data-park {

    ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        background: #e6e6e6;
    }
 
    .thumb-img {
        padding: 10px;
    }

    .characteristic {

        list-style: none;
        
    }

    ul li.characteristic{
        float: left;
        margin-left: 10px;
    }

    .heading {

        margin-top: 10px;
        //  float: left;
        margin-right: 10px;
        margin-left: 10px;
    }

    ul {
        padding-left: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
      
        &.rating li {
          padding: 3px 5px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: px;
          }
        }
      }

    hr{
        width: 100%;
    }  

    .infoTog{
        
            float: left;
            margin-left: 50px;

    }

    .comment{
        margin-top: 30px;
    }

    .buttonComments{ display:block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;}

    
        

    }

 


